@font-face {
    font-family: 'gotham-narrow-bold';
    src: url("../fonts/GothamNarrow-Bold.eot?#iefix") format("embedded-opentype"),url("../fonts/GothamNarrow-Bold.otf") format("opentype"),url("../fonts/GothamNarrow-Bold.woff") format("woff"),url("../fonts/GothamNarrow-Bold.ttf") format("truetype"),url("../fonts/GothamNarrow-Bold.svg#gotham-narrow-bold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-narrow-black';
    src: url("../fonts/GothamNarrow-Black.eot?#iefix") format("embedded-opentype"),url("../fonts/GothamNarrow-Black.otf") format("opentype"),url("../fonts/GothamNarrow-Black.woff") format("woff"),url("../fonts/GothamNarrow-Black.ttf") format("truetype"),url("../fonts/GothamNarrow-Black.svg#gotham-narrow-black") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-narrow';
    src: url("../fonts/GothamNarrow-Book.eot?#iefix") format("embedded-opentype"),url("../fonts/GothamNarrow-Book.otf") format("opentype"),url("../fonts/GothamNarrow-Book.woff") format("woff"),url("../fonts/GothamNarrow-Book.ttf") format("truetype"),url("../fonts/GothamNarrow-Book.svg#gotham-narrow") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'gotham-narrow' !important;
    font-weight: normal !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'gotham-narrow-black';
}

h1 {
    color: #fff;
    margin-top: 30px;
    margin-bottom: 15px;
}
@media screen and (max-width: 576px) {
    h1 {
        font-size: 28px;
    }
}

p {
    font-size: 18px;
}

strong {
    font-family: 'gotham-narrow-bold';
}

section {
    position: relative;
    overflow: hidden;
}

section .abs-filter {
    position: absolute;
    right: 0;
    height: 100%;
}
@media screen and (max-width: 992px) {
    section .abs-filter {
        display: none;
    }
}

section .col-sector {
    position: relative;
    padding: 50px 15px;
}

section .col-sector.horizontal-divider:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    right: 0;
    top: 0;
}

section .col-sector.horizontal-divider:after {
    content: '';
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    right: -20px;
    top: 50%;
    position: absolute;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

section .col-sector.horizontal-divider p {
    color: #fff;
    font-size: 24px;
}
@media screen and (max-width: 992px) {
    section .col-sector.horizontal-divider:before {
        left: 0;
        right: inherit;
        top: inherit;
        bottom: 0;
        width: 100%;
        height: 1px;
    }

    section .col-sector.horizontal-divider:after {
        width: 20px;
        height: 20px;
        margin-left: -10px;
        margin-top: -10px;
        right: inherit;
        top: inherit;
        bottom: -10px;
        left: 50%;
        z-index: 3;
    }

    section .col-sector.horizontal-divider p {
        font-size: 18px;
    }
}
@media screen and (max-width: 576px) {
    section .col-sector {
        padding: 25px 15px;
    }
}

section .title-section {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin: 30px 15px 15px;
}

section .title-section.blue-detail {
    color: #2c527c;
    background: url("../img/blue-detail.png") repeat-x 0 50%;
}

section .title-section.blue-detail span,
section .title-section.blue-detail strong {
    display: inline-block;
    padding: 0 25px;
    background-color: #4f92de;
}

section .title-section.green-detail {
    color: #2c745c;
    background: url("../img/green-detail.png") repeat-x 0 50%;
}

section .title-section.green-detail span,
section .title-section.green-detail strong {
    display: inline-block;
    padding: 0 25px;
    background-color: #4ac39a;
}
@media screen and (max-width: 576px) {
    section .title-section {
        display: block;
        padding: 0;
    }
}

.features-list p {
    color: #2c527c;
}

.img-fluid {
    display: block;
    margin: 0 auto;
}

.line-cta-buttom {
    margin-bottom: 20px;
    margin-top: 40px;
}
@media screen and (max-width: 992px) {
    .line-cta-buttom {
        justify-content: center;
    }

    .line-cta-buttom .col {
        text-align: center;
    }
}

.list-lojas-app .nav-item:first-child {
    margin-right: 15px;
}
@media screen and (max-width: 992px) {
    .list-lojas-app {
        justify-content: center;
    }
}

.pre-header {
    background-color: #fbfbfb;
    display: none;
    text-align: left;
    padding: 10px 30px;
}

.pre-header img {
    display: block;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    .pre-header {
        display: block;
        margin-bottom: 30px;
    }
}

header {
    padding: 50px 0;
    background: url("../img/bg-topo.png") no-repeat 50% 50%;
    background-size: 100% 100%;
    /* min-height: 100vh; */
}

header .destaque {
    color: #fff;
    font-size: 26px;
}
@media screen and (max-width: 768px) {
    header {
        padding-top: 0;
    }
}
@media screen and (max-width: 576px) {
    header .destaque {
        font-size: 18px;
    }
}

.clique-retire {
    background-color: #4ac39a;
}

.clique-retire .abs-filter {
    background-color: #51bc96;
}

.clique-retire .col-sector.horizontal-divider:before {
    background-color: #2c745c;
}

.clique-retire .col-sector.horizontal-divider:after {
    background-color: #4ac39a;
    border-top: 1px solid #2c745c;
    border-right: 1px solid #2c745c;
}
@media screen and (max-width: 992px) {
    .clique-retire .col-sector.horizontal-divider:after {
        border-bottom: 1px solid #2c745c;
        border-top: none;
    }
}

.clique-retire .list-clique-retire {
    text-align: center;
}

.clique-retire .list-clique-retire h3 {
    text-transform: uppercase;
    margin-top: 15px;
    color: #fff;
}

.clique-retire .list-clique-retire p {
    color: #fff;
}
@media screen and (max-width: 576px) {
    .clique-retire .list-clique-retire .list-item {
        margin-bottom: 30px;
    }

    .clique-retire .list-clique-retire .list-item:last-child {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 992px) {
    .clique-retire .filter-mob {
        background-color: #51bc96;
    }
}

.receita-agil {
    background-color: #4f92de;
}

.receita-agil .abs-filter {
    background-color: #568ec9;
}

.receita-agil .col-sector.horizontal-divider:before {
    background-color: #2c527c;
}

.receita-agil .col-sector.horizontal-divider:after {
    background-color: #4f92de;
    border-top: 1px solid #2c527c;
    border-right: 1px solid #2c527c;
}
@media screen and (max-width: 992px) {
    .receita-agil .col-sector.horizontal-divider:after {
        border-bottom: 1px solid #2c527c;
        border-top: none;
    }
}
@media screen and (max-width: 992px) {
    .receita-agil .filter-mob {
        background-color: #568ec9;
    }
}

.features-app {
    background-color: #fbfbfb;
}

.features-app .abs-filter {
    background-color: #f7f6f5;
}

.features-app .title-app {
    color: #004476;
    text-transform: uppercase;
    margin-top: 25px;
    font-size: 40px;
}
@media screen and (max-width: 992px) {
    .features-app .title-app {
        font-size: 28px;
    }
}

.features-app .col-sector.horizontal-divider:before {
    background-color: #d2d2d1;
}
@media screen and (max-width: 992px) {
    .features-app .col-sector.horizontal-divider:before {
        display: none;
    }
}

.features-app .col-sector.horizontal-divider:after {
    background-color: #fbfbfb;
    border-top: 1px solid #d2d2d1;
    border-right: 1px solid #d2d2d1;
}
@media screen and (max-width: 992px) {
    .features-app .col-sector.horizontal-divider:after {
        display: none;
    }
}
@media screen and (max-width: 992px) {
    .features-app .filter-mob {
        background-color: #f7f6f5;
    }
}

.carousel-passo img {
    margin: 0 auto;
}

.carousel-passo .legenda h5 {
    text-transform: uppercase;
    color: #fff;
    font-size: 28px;
    margin: 20px 0;
}

.carousel-passo .legenda p {
    font-size: 18px;
    color: #fff;
}

.carousel-passo .legenda p .number {
    font-size: 26px;
    font-family: 'gotham-narrow-bold';
}

.carousel-passo .carousel-indicators {
    position: relative;
    margin: 30px auto 0;
}

.carousel-passo .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}

.carousel-passo .carousel-indicators li.active {
    background-color: #22fcff;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}

.carousel-passo .carousel-control-next,
.carousel-passo .carousel-control-prev {
    width: auto;
    margin-top: -50%;
}

.main-footer {
    background-color: #004476;
    padding: 35px 0;
}

.main-footer .site-link {
    font-family: 'gotham-narrow-bold';
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.main-footer .site-link:hover {
    text-decoration: underline;
}
@media screen and (max-width: 768px) {
    .main-footer .col-link {
        text-align: center;
        margin-bottom: 15px;
    }
}

.main-footer .social-links {
    justify-content: flex-end !important;
}

.main-footer .social-links .nav-item {
    margin-right: 15px;
}

.main-footer .social-links .nav-item:last-child {
    margin-right: 0;
}
@media screen and (max-width: 768px) {
    .main-footer .social-links {
        justify-content: center !important;
    }
}
@media screen and (max-width: 768px) {
    .main-footer {
        padding: 20px 0;
    }
}
/*# sourceMappingURL=app.css.map */
