.mainContentWrap {background: url("araujo.med.bg.jpg") repeat-x center top #1C649A;}
.footerTpl{padding-top:10px; background:  #1C649A; }
.Institucional .footerTpl {background: #fff;}
.mainTpl .columnMain {width: 752px}

.mainTpl > .paddingFix {background: none;border: none;padding: 0;}
.departamentLinks {background: #ffffff;padding: 5px;}
.searchResultsTime {background: #72c7d2;border-radius: 0;border: none;margin-bottom: 7px;}
.resultItemsWrapper {background: #ffffff;padding: 0 7px;}
.sub.top .orderBy {left: 0; position: relative; top: 15px!important; width: 230px;}
.mainTpl .columnMain {margin-left: 7px;}
.prateleira li {width: 161px;}
.searchResultsTime.bottom {display: none;}

.prateleira .box-banner {height: auto; left: -7px; position: relative; width: 752px;}
.prateleira .box-banner > a {display: block;}

.disclaimerContent .box-banner + .box-banner{display: block;}
.disclaimerContent .box-banner {width: 100%;}
.disclaimerContent .box-banner a,
.disclaimerContent .box-banner img {display: block;line-height: 1;width: 100%}


.produto .mainContentWrap .mainTpl {background: #FFF;padding: 5px;}

.departamento .mainContentWrap .paddingFix,
.categoria .mainContentWrap .paddingFix,
.resultado-busca .mainContentWrap .paddingFix {background: url("araujo.med.sidebar.bg.png") repeat-y 0 0; }

.infographic {position: relative;padding-bottom: 30px;text-align: center;line-height: 1;}
body .infographic h2 {margin: 0;color: #004684;font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;  letter-spacing: 1px;font-size: 22px;}
body .infographic h3 {margin: 0;color: #004684; font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif; }
body .infographic p {color: #004684; font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif; font-size: 13px; letter-spacing: 1px; }
.infographic .red {color: red;font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;}
.infographic .white {color: white;font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;}

.infographic .box-1{height: 212px; left: 0; padding: 37px 30px 0 200px; position: absolute; text-align: left; top: 0;}
.infographic .box-1 h2 {text-transform: uppercase;font-weight: bold;color: #21adc1;font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;font-size: 28px;padding-bottom: 10px;}
.infographic .box-1 p {color: #0a151a; font-size: 14px; padding: 10px 0; line-height: 18px;}

.infographic .box-2{height: 534px;position: absolute;top: 249px;left: 0;width: 100%;}
.infographic .box-2 h2{font-weight: bold;padding-bottom: 10px; text-transform: uppercase; position: absolute; top: 33px; width: 100%; text-align: center;font-size: 22px;}
.infographic .box-2 h3{font-size: 22px; left: 414px; letter-spacing: 2px; position: absolute; top: 119px;}
.infographic .box-2 .text-1 {left: 180px;position: absolute; top: 209px; width: 170px; line-height: 20px;}
.infographic .box-2 .text-2 {left: 646px; letter-spacing: 1px; line-height: 20px; position: absolute; top: 195px; width: 190px;}
.infographic .box-2 .text-3 {left: 646px; letter-spacing: 1px; line-height: 20px; position: absolute; top: 432px; width: 190px;}

.infographic .box-3{height: 665px;position: absolute;top: 783px;left: 0;width: 100%;}
.infographic .box-3 h2 {font-size: 22px;padding-top: 12px;}
.infographic .box-3 .text-1 { top: 103px;left: 228px; position: absolute; width: 523px;}
.infographic .box-3 .text-2 {left: 105px; line-height: 17px; position: absolute; top: 256px; width: 116px; }
.infographic .box-3 .text-3 {line-height: 20px; position: absolute; right: 90px; top: 230px; width: 199px;}
.infographic .box-3 .text-4 {left: 98px; line-height: 21px; position: absolute; top: 442px; width: 210px; }
.infographic .box-3 .text-5 {line-height: 21px; position: absolute; right: 81px; top: 449px; width: 210px;}

.infographic .box-4 {height: 854px;position: absolute;top: 1448px;left: 0;width: 100%;}
.infographic .box-4 h2{padding-top: 15px;}
.infographic .box-4 .text-1{position: absolute; top: 206px; left: 114px; width: 200px; line-height: 16px;}
.infographic .box-4 .text-2{left: 403px; line-height: 19px; position: absolute; top: 249px; width: 170px;}
.infographic .box-4 .text-3 {left: 646px; line-height: 19px; position: absolute; top: 247px; width: 200px; }
.infographic .box-4 .text-4 {left: 166px; line-height: 19px; position: absolute; top: 497px; width: 140px; }
.infographic .box-4 .text-5 {left: 390px; line-height: 19px; position: absolute; top: 517px; width: 180px;}
.infographic .box-4 .text-6 {left: 646px; line-height: 21px; position: absolute; top: 438px; width: 200px;}
.infographic .box-4 .text-7 {left: 225px; line-height: 19px; position: absolute; top: 749px; width: 540px;}

.infographic .box-5{height: 399px;position: absolute;top: 2302px;left: 0;width: 100%;}
.infographic .box-5 h2{padding-top: 13px;}
.infographic .box-5 .text-1 {left: 87px; line-height: 20px; position: absolute; top: 205px; width: 215px; }
.infographic .box-5 .text-2 {font-size: 30px; font-weight: bold; left: 487px; position: absolute; text-align: left; top: 174px; width: 237px;}

/*Formulário da Página de produto*/
.produto-encomenda .formWrapper {display: block!important;}
.formWrapper{padding: 10px 90px;display: none;}
.formWrapper input[type=tel],
.formWrapper input[type=text],
.formWrapper textarea{display: block; width: 300px; background: #fff; border: 1px solid #666; color: #535353; font-size: 12px; height: 21px; line-height: 20px; padding: 3px; vertical-align: middle; margin-bottom: 10px;}
.formWrapper input[type=tel].error,
.formWrapper input[type=text].error,
.formWrapper textarea.error {border-color: #db1818;}
.formWrapper textarea {min-height: 75px;}
.formWrapper select {display: block;}
.formWrapper label {padding-right: 5px;line-height: 22px;font-weight: bold;color:#000;}
.formWrapper label span {color: #db1818;}
.formWrapper input[type="radio"]+label {padding-left: 5px;}
.formWrapper input[type="submit"] {background: url("gradientOrange-1x50.png") repeat-x 0 0 #FF8F00; border-radius: 4px; color: #fff; display: block; height: 27px; line-height: 25px; padding: 0 14px;width: 100%;cursor: pointer;font-weight: bold;}
.formWrapper input[type="submit"]:hover {background-position: 0 -28px; text-decoration: none;}
.formWrapper .formSuccess {display: none;}
.formWrapper .formSuccess i,
.formWrapper .formSuccess {color:#5C8727;padding: 12px; text-align: center; font-size: 18px;}

.qd-loading{background: url("ajax-loader.gif") no-repeat center center;}
.qd-loading >*{visibility: hidden;}

.brandsWrapper {position: relative;}
.jcarousel-container {padding: 0 25px; }
.jcarousel-marcas {background-color: #fff; padding-bottom: 25px; }
body .jcarousel-marcas h3{width: 966px; margin: 0 auto; color: #4f7fa9; text-transform: uppercase; padding: 25px 0; font-size: 22px; }
.jcarousel-marcas .owl-buttons{padding-bottom: 25px;}
.jcarousel-clip {overflow: hidden; }
.jcarousel-skin-brands {width: 966px; margin: 0 auto; }
div.jcarousel-skin-brands .owl-item div{background: url(filete.jpg) right center no-repeat; background-position-y: 8px; background-size: 2px; padding-right: 1px; }
.jcarousel-prev, .jcarousel-next {background: url("/arquivos/new-carousel-sprint-icon.png") no-repeat 0 0; width: 35px; height: 35px; position: absolute; top: 24px; cursor: pointer; }
.jcarousel-prev {background: url("/arquivos/new-carousel-sprint-icon.png") no-repeat 0 0; background-position: -46px 1px; left: -8px; }
.jcarousel-next {background: url("/arquivos/new-carousel-sprint-icon.png") no-repeat 0 0; background-position: -1px 1px; right: -4px; }