.mainTpl h2{background:url(araujo_atendimento_03.jpg) repeat-x scroll 0 0 transparent;color:#004E8E;font-size:20px;text-transform:uppercase;padding:10px}
.mainTpl h5{color:#014783;font-size:14px;padding-bottom:10px;text-transform:uppercase}
div.columnLeft h5{background:url(araujo_atendimento_07.jpg) no-repeat scroll 0 0 transparent;color:#FFF;font-size:14px;font-weight:700;height:36px;line-height:36px;padding-bottom:0;padding-left:11px;text-align:left;text-transform:capitalize;width:209px}
div.columnLeft ul +h5{margin-top:8px;}
.mainTpl .columnLeft{width:220px;padding:20px 0 0 20px}
.mainTpl .columnLeft li a{font-family:Arial;font-size:13px;line-height:20px}
.mainTpl .columnLeft li{background:url(araujo_atendimento_10.jpg) no-repeat scroll 0 0 transparent;height:26px;line-height:26px;margin-top:4px;padding-left:11px;width:220px}
.mainTpl .columnMain{width:694px;padding:20px 0 0 20px}
.block1 div.emailContact >*,
.block1 div.information >*{margin-left:144px;}
.block1 div.emailContact,
.block1 div.information{min-height:96px;border: 1px solid #D8D8D8;border-radius:5px;line-height: 18px;margin-left:7px;}
.block1 div.emailContact{background:url(araujo_atendimento_11_2.jpg) no-repeat;margin-top:20px;}
.block1 div.information{background:url(araujo_atendimento_09_2.jpg) no-repeat;}
.block1 div.emailContact iframe{margin:0;min-height:460px;width:100%;}
.block1 div.emailContact h3{margin-top:36px;margin-bottom:36px;}
.mainTpl a.sendEmail{font-size:13px}
.mainTpl .information{position:relative}
.mainTpl .information ul{float:left;width:50%;margin:30px 0}
.mainTpl .information ul li{line-height:20px;padding-left:10px}
.mainTpl .atendimento{clear:both;padding:10px 10px 30px}
.mainTpl .atendimento span{display:block;line-height:20px}
.mainTpl .faq{margin:0}
.mainTpl .faq h3{background:url(araujo_atendimento_16.jpg) no-repeat scroll 0 0 transparent;color:#FFF;font-size:14px;height:36px;line-height:36px;padding-left:11px;width:683px}
.mainTpl .faq ul li{clear:both;padding:0 0 8px}
.mainTpl .faq ul li > a{padding:0 0 0 20px}
.mainTpl .faq .faqCategoria{color:#000;font-size:17px;font-weight:400;line-height:20px;padding-bottom:5px}
.mainTpl .faq dt{border-bottom:1px solid #E5E5E5}
.mainTpl .faq dt a{background:url(araujo_atendimento_19b.jpg) no-repeat scroll 12px center transparent;color:#000;display:block;font-size:14px;font-weight:700;height:45px;line-height:45px;text-decoration:none;padding:0 0 0 36px}
.mainTpl .faq dd{background:#f4f4f4 url(araujo_atendimento_03.jpg) repeat scroll 0 0;color:#000;display:none;font-size:12px;padding:14px 41px 16px 35px}
.phones,
.morePhones,
div.atendimento,
li a.open,
.mainTpl .faq dl{display:none}
.emailContact h3,
.information h3{color:#004E8E;font-size:14px;margin:14px 0 8px}
body.atendimento .information p{margin-bottom: 10px;}

div.email-sucesso >p{font-size: 22px; margin-top: 50px; text-align: center;}
div.email-sucesso +fieldset.voltar{display: none;}