/* line 1, ../sass/vacsim.scss */
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'FrutigerLTStdCn';
  src: url("fonts/FrutigerLTStdCn.eot");
  src: url("fonts/FrutigerLTStdCn.eot") format("embedded-opentype"), url("fonts/FrutigerLTStdCn.woff2") format("woff2"), url("fonts/FrutigerLTStdCn.woff") format("woff"), url("fonts/FrutigerLTStdCn.ttf") format("truetype"), url("fonts/FrutigerLTStdCn.svg#FrutigerLTStdCn") format("svg");
}

@font-face {
  font-family: 'FrutigerLTStdBold';
  src: url("fonts/FrutigerLTStdBold.eot");
  src: url("fonts/FrutigerLTStdBold.eot") format("embedded-opentype"), url("fonts/FrutigerLTStdBold.woff2") format("woff2"), url("fonts/FrutigerLTStdBold.woff") format("woff"), url("fonts/FrutigerLTStdBold.ttf") format("truetype"), url("fonts/FrutigerLTStdBold.svg#FrutigerLTStdBold") format("svg");
}

@font-face {
  font-family: 'FrutigerLTStdRoman';
  src: url("fonts/FrutigerLTStdRoman.eot");
  src: url("fonts/FrutigerLTStdRoman.eot") format("embedded-opentype"), url("fonts/FrutigerLTStdRoman.woff2") format("woff2"), url("fonts/FrutigerLTStdRoman.woff") format("woff"), url("fonts/FrutigerLTStdRoman.ttf") format("truetype"), url("fonts/FrutigerLTStdRoman.svg#FrutigerLTStdRoman") format("svg");
}

@font-face {
  font-family: 'FrutigerLTStdLight';
  src: url("fonts/FrutigerLTStdLight.eot");
  src: url("fonts/FrutigerLTStdLight.eot") format("embedded-opentype"), url("fonts/FrutigerLTStdLight.woff2") format("woff2"), url("fonts/FrutigerLTStdLight.woff") format("woff"), url("fonts/FrutigerLTStdLight.ttf") format("truetype"), url("fonts/FrutigerLTStdLight.svg#FrutigerLTStdLight") format("svg");
}

/* line 43, ../sass/vacsim.scss */
#vacsim-wrapper {
  font-family: 'FrutigerLTStdBold';
}
/* line 47, ../sass/vacsim.scss */
#vacsim-wrapper ul {
  margin: 0;
  padding: 0 0 0 20px;
}
/* line 52, ../sass/vacsim.scss */
#vacsim-wrapper p {
  font-family: 'FrutigerLTStdRoman';
  font-size: 1.2em;
}
/* line 57, ../sass/vacsim.scss */
#vacsim-wrapper li {
  font-size: 1em;
  text-align: center;
  list-style-position: inside;
}
/* line 62, ../sass/vacsim.scss */
#vacsim-wrapper a {
  text-decoration: none;
}
/* line 65, ../sass/vacsim.scss */
#vacsim-wrapper .wrap {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 70, ../sass/vacsim.scss */
#vacsim-wrapper .container {
  width: 970px;
  margin: 0 auto;
  min-height: 75px;
}
/* line 75, ../sass/vacsim.scss */
#vacsim-wrapper .container h3 {
  margin: 0 0 34px;
  font-weight: normal;
}
/* line 80, ../sass/vacsim.scss */
#vacsim-wrapper .container .coluna-esquerda {
  width: 380px;
  float: left;
}
/* line 85, ../sass/vacsim.scss */
#vacsim-wrapper .container .coluna-direita {
  width: 590px;
  float: right;
}
/* line 90, ../sass/vacsim.scss */
#vacsim-wrapper .container .clear-wrap {
  clear: both;
}
/* line 93, ../sass/vacsim.scss */
#vacsim-wrapper .container span.divider {
  width: 80%;
  height: 24px;
  background-color: #ea155b;
  display: block;
  margin: 0 0 10px;
}
/* line 102, ../sass/vacsim.scss */
#vacsim-wrapper .mg-left-20 {
  margin-left: 20px;
}
/* line 105, ../sass/vacsim.scss */
#vacsim-wrapper .mg-left-40 {
  margin-left: 40px;
}
/* line 109, ../sass/vacsim.scss */
#vacsim-wrapper .cinza-1 {
  background-color: #f3f3f3;
  color: #676767;
}
/* line 114, ../sass/vacsim.scss */
#vacsim-wrapper .azul-1 {
  background-color: #3d6499;
  color: #FFF;
}
/* line 118, ../sass/vacsim.scss */
#vacsim-wrapper .azul-1 h3 {
  font-size: 2em;
  margin-bottom: 10px;
}
/* line 122, ../sass/vacsim.scss */
#vacsim-wrapper .azul-1 p {
  font-size: 1em;
  margin: 0;
  line-height: 160%;
}
/* line 128, ../sass/vacsim.scss */
#vacsim-wrapper .azul-2 {
  background-color: #2f5281;
  color: #FFF;
  font-family: 'FrutigerLTStdCn';
}
/* line 133, ../sass/vacsim.scss */
#vacsim-wrapper .azul-2 h3 {
  font-size: 2em;
  font-family: 'FrutigerLTStdBold';
}
/* line 137, ../sass/vacsim.scss */
#vacsim-wrapper .azul-2 p {
  font-family: 'FrutigerLTStdBold';
  margin: 0 0 7px 0;
}
/* line 142, ../sass/vacsim.scss */
#vacsim-wrapper .azul-2 ul {
  font-family: 'FrutigerLTStdLight';
  margin: 0 0 34px;
  padding: 0 0 0 16px;
}
/* line 147, ../sass/vacsim.scss */
#vacsim-wrapper .azul-2 ul li {
  font-family: 'FrutigerLTStdLight';
}
/* line 150, ../sass/vacsim.scss */
#vacsim-wrapper .azul-2 ul li strong {
  font-family: 'FrutigerLTStdBold';
  font-weight: normal;
  line-height: 170%;
}
/* line 158, ../sass/vacsim.scss */
#vacsim-wrapper .azul-2 .container {
  position: relative;
  padding-bottom: 30px;
}
/* line 161, ../sass/vacsim.scss */
#vacsim-wrapper .azul-2 .container #btn-google-maps {
  position: absolute;
  bottom: -50px;
  right: 10px;
  display: block;
  width: 610px;
  height: 73px;
}
/* line 171, ../sass/vacsim.scss */
#vacsim-wrapper .azul-3 {
  background-color: #5dc4e1;
  color: #FFF;
}
/* line 175, ../sass/vacsim.scss */
#vacsim-wrapper .azul-3 h3 {
  color: #3d6499;
  font-size: 3em;
  font-family: 'FrutigerLTStdBold';
  margin-bottom: 30px;
}
/* line 181, ../sass/vacsim.scss */
#vacsim-wrapper .azul-3 li {
  color: #3d6499;
  font-family: 'FrutigerLTStdCn';
  font-size: 20px;
  line-height: 19px;
  margin-bottom: 12px;
}
/* line 187, ../sass/vacsim.scss */
#vacsim-wrapper .azul-3 li a {
  color: #FFF;
  text-decoration: underline;
  font-size: 12px;
  font-family: 'FrutigerLTStdLight';
}
/* line 194, ../sass/vacsim.scss */
#vacsim-wrapper .azul-3 li:last-child {
  margin-bottom: 0;
}
/* line 199, ../sass/vacsim.scss */
#vacsim-wrapper .azul-3 a {
  color: #FFF;
}
/* line 204, ../sass/vacsim.scss */
#vacsim-wrapper .azul-3 .container {
  position: relative;
}
/* line 207, ../sass/vacsim.scss */
#vacsim-wrapper .azul-3 .container #btn-todas-vacinas {
  position: absolute;
  bottom: -50px;
  left: 0;
}
/* line 215, ../sass/vacsim.scss */
#vacsim-wrapper .azul-4 {
  background-color: #afb6ca;
  color: #FFF;
}
/* line 221, ../sass/vacsim.scss */
#vacsim-wrapper .azul-4 h3 {
  color: #3d6499;
  font-size: 2em;
  font-family: 'FrutigerLTStdBold';
  margin-bottom: 0;
}
/* line 228, ../sass/vacsim.scss */
#vacsim-wrapper .azul-4 h4 {
  font-size: 12px;
  color: #FFF;
  font-family: 'FrutigerLTStdRoman';
  font-weight: normal;
  text-indent: 20px;
  background: url("../images/linha-branca.jpg") no-repeat right center;
  /*max-width: 420px;*/
}
/* line 240, ../sass/vacsim.scss */
#vacsim-wrapper .azul-4 ul li {
  color: #3d6499;
  font-size: 20px;
  font-family: 'FrutigerLTStdBold';
  margin-bottom: 10px;
}
/* line 250, ../sass/vacsim.scss */
#vacsim-wrapper .azul-4 span {
  color: #FFF;
}
/* line 255, ../sass/vacsim.scss */
#vacsim-wrapper .azul-5 {
  background-color: #ced2de;
  color: #FFF;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 263, ../sass/vacsim.scss */
#vacsim-wrapper .azul-5 h3 {
  color: #3d6499;
  font-size: 2em;
  font-family: 'FrutigerLTStdBold';
}
/* line 271, ../sass/vacsim.scss */
#vacsim-wrapper .azul-5 ul li {
  color: #3d6499;
  font-size: 1.1em !important;
  font-family: 'FrutigerLTStdBold';
  margin-bottom: 10px;
  text-align: center;
}
/* line 280, ../sass/vacsim.scss */
#vacsim-wrapper .azul-5 span {
  color: #FFF;
}
/* line 285, ../sass/vacsim.scss */
#vacsim-wrapper .mapa {
  padding: 0;
}
/* line 287, ../sass/vacsim.scss */
#vacsim-wrapper .mapa #map {
  height: 318px;
}
/* line 292, ../sass/vacsim.scss */
#vacsim-wrapper .cinza-bottom {
  text-align: center;
  padding-top: 30px;
  padding-right: 30px;
}
/* line 298, ../sass/vacsim.scss */
#vacsim-wrapper .cinza-bottom .container {
  position: relative;
}
/* line 301, ../sass/vacsim.scss */
#vacsim-wrapper .cinza-bottom .container strong {
  font-family: 'FrutigerLTStdBold';
}
/* line 305, ../sass/vacsim.scss */
#vacsim-wrapper .cinza-bottom .container p {
  font-family: 'FrutigerLTStdLight';
  font-weight: normal;
  color: #676767;
  font-size: 1em;
  text-align: center;
  margin: 0;
  display: inline-block;
}
/* line 316, ../sass/vacsim.scss */
#vacsim-wrapper .cinza-bottom .container #voltar-topo {
  background: url(../images/btn-voltar-topo.png);
  width: 80px;
  height: 88px;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 82px;
  display: block;
}
/* line 332, ../sass/vacsim.scss */
#vacsim-wrapper .gm-style-iw {
  /* width: 350px !important; */
  top: 15px !important;
  left: 0px !important;
  color: #FFF !important;
  background-color: #ed2b33;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 0;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  font-family: 'FrutigerLTStdLight';
}
/* line 345, ../sass/vacsim.scss */
#vacsim-wrapper .gm-style-iw hr {
  margin: 8px 0;
  border: 0;
  color: #FFF;
  border-top: 1px solid #FFFFFF;
}
/* line 353, ../sass/vacsim.scss */
#vacsim-wrapper .botao-ondeencontrar {
  background: #5dc4e1;
  color: #FFF;
  font-size: 1.2em;
  font-family: 'FrutigerLTStdBold';
  padding: 25px 36px;
  display: block;
  margin-bottom: 20px;
  text-align: left;
  position: relative;
}
/* line 364, ../sass/vacsim.scss */
#vacsim-wrapper .botao-ondeencontrar:after {
  content: "+";
  display: block;
  position: absolute;
  right: 30px;
  top: 25px;
}
/* line 372, ../sass/vacsim.scss */
#vacsim-wrapper .botao-ondeencontrar.active:after {
  content: "-";
}
/* line 377, ../sass/vacsim.scss */
#vacsim-wrapper .horarios {
  display: none;
}
/* line 381, ../sass/vacsim.scss */
#vacsim-wrapper #mostra-vacinas {
  background: #3d6499 url("../images/icon-mostra-vacinas.png") no-repeat 90% center;
  font-size: 1.3em;
  color: #FFF;
  position: relative;
  padding: 50px 10% 50px 30px;
  display: block;
  text-align: left;
  margin-bottom: 0;
}
/* line 391, ../sass/vacsim.scss */
#vacsim-wrapper #mostra-vacinas.active {
  background-image: url("../images/icon-mostra-vacinas-inverse.png");
  margin-bottom: 30px;
}
/* line 398, ../sass/vacsim.scss */
#vacsim-wrapper #lista-vacinas {
  display: none;
}
/* line 401, ../sass/vacsim.scss */
#vacsim-wrapper #lista-vacinas li {
  font-size: 1.2em;
}
/* line 406, ../sass/vacsim.scss */
#vacsim-wrapper #testes-rapidos {
  text-align: left !important;
}
/* line 409, ../sass/vacsim.scss */
#vacsim-wrapper #testes-rapidos h4 {
  font-size: 1em;
}
/* line 414, ../sass/vacsim.scss */
#vacsim-wrapper #testes-rapidos ul li {
  font-size: 1.1em;
}
/* line 422, ../sass/vacsim.scss */
#vacsim-wrapper #servicos ul li {
  font-size: 1.3em;
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 2100px) {
  /* line 436, ../sass/vacsim.scss */
  .container {
    width: 90% !important;
    padding-left: 5%;
    padding-right: 5%;
    /* max-width: 420px !important; */
    text-align: center;
  }
  /* line 443, ../sass/vacsim.scss */
  .container .coluna-esquerda {
    text-align: center;
    width: 100% !important;
  }
  /* line 449, ../sass/vacsim.scss */
  .container .coluna-direita {
    width: 100% !important;
  }
  /* line 454, ../sass/vacsim.scss */
  .container img {
    max-width: 100% !important;
  }

  /* line 463, ../sass/vacsim.scss */
  #vacsim-wrapper .container span.divider {
    display: block;
    margin: 0 auto 10px !important;
  }

  /* line 470, ../sass/vacsim.scss */
  #icon-vacinas, #icon-pin-map, #icon-clock-2, #icon-nurse, #icon-clock {
    margin-top: 0 !important;
  }

  /* line 474, ../sass/vacsim.scss */
  #vacsim-wrapper .azul-2 .container #btn-google-maps {
    position: static;
    display: block;
    width: auto;
    height: auto;
  }

  /* line 482, ../sass/vacsim.scss */
  #vacsim-wrapper .azul-4 h4 {
    background-image: none;
  }

  /* line 484, ../sass/vacsim.scss */
  ul {
    /* list-style-position: inside; */
  }

  /* line 488, ../sass/vacsim.scss */
  .horarios p {
    text-align: left;
  }
}